<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457063747941-a2j1j0btpa9tfe0k00bu1868qdqlipme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457063747941-a2j1j0btpa9tfe0k00bu1868qdqlipme</string>
	<key>API_KEY</key>
	<string>AIzaSyBO6DJNoRj891GHb9RbgYQmNNrr1CEgMm8</string>
	<key>GCM_SENDER_ID</key>
	<string>457063747941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchaatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-c3711</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-c3711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457063747941:ios:76e119468a9bfd1255d18c</string>
	<key>DATABASE_URL</key>
	<string>https://chat-c3711.firebaseio.com</string>
</dict>
</plist>